@font-face {
  font-family: "jedi";
  src: local("jedi"),
   url(~@/assets/fonts/Strjmono.ttf) format("truetype");
}
@font-face {
  font-family:"StarWars";
  src: local("StarWars"),
   url(~@/assets/fonts/StarWars.ttf) format("truetype");
}